.App {
  display: inline;
  align-items: center;
  font-size: 20px;
  text-align: center;
  font-family: fantasy;
  padding: 80px 30px;
}

body {
  background-color: rgba(253, 255, 225, 0.92);
}

.highlight {
  background-color: rgb(240, 239, 191);
  padding: 1px 2px;
  border-radius: 5px;
}

button {
  background-color: rgb(213, 175, 249);
  font-size: 22px;
  font-family: "Times New Roman";
  cursor: pointer;
}

button:hover {
  box-shadow: 0px 5px 7px grey;
}

.optionA,
.optionB,
.optionC {
  border-radius: 3px;
}

.optionA:hover,
.optionB:hover,
.optionC:hover {
  opacity: 0.6;
}

@media screen and (max-width: 800px) {
  .App {
    display: flexbox;
    font-size: 15px;
    text-align: center;
    font-family: fantasy;
    padding: 80px 30px;
  }

  body {
    background-color: rgba(231, 233, 203, 0.92);
  }

  .highlight {
    background-color: rgb(255, 225, 192);
    padding: 1px 2px;
    border-radius: 5px;
  }

  button {
    background-color: rgb(213, 175, 249);
    border-radius: 90%;
    font-size: 22px;
    font-family: "Times New Roman";
    cursor: pointer;
  }

  button:hover {
    box-shadow: 0px 5px 7px rgb(109, 79, 79);
  }

  .optionA,
  .optionB,
  .optionC {
    border-radius: 3px;
    align-items: center;
    display: inline-block;
  }

  .optionA:hover,
  .optionB:hover,
  .optionC:hover {
    opacity: 0.5;
  }
}
